#jobs {
  background-color: #F0E7D6;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  padding: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
 #jobs h1 {
    font: normal small-caps 700 4vh/1 system-ui;
  }

#jobs h3{
    position: relative;
   font: normal small-caps 700 2vh/1 system-ui;
  }

  mat-divider {
    margin-bottom: 20px;
    width: 90%;
    align-self: center;
  }

#jobs  #job {
    margin-bottom: 20px;
}

#jobs    #position {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
}

#jobs #job-role {
        font: normal normal 700 2.3vh sans-serif;
        margin-right: 10px;
      }

     #jobs #company {
        font: normal normal 500 2.3vh sans-serif;
        color: rgb(46, 46, 46);
        margin-right: 10px;
      }

      #time {
        font: normal normal 500 2.3vh sans-serif;
        color: rgb(90, 90, 90);
      }

    

    #skills img {
        width: 36px;
        height: 36px;
        margin-right: 5px;
        flex-wrap: wrap;
      }